page-home {
    .getstart {
        
        background-image: url('../../img/background.jpg');
        // background: url('../../img/getstart.png');
        background-repeat: no-repeat;
        background-size:cover;
      
    }

    .center {
        margin-left: auto;
        margin-right: auto;
        display: block;
    }


}
